@charset "UTF-8";
@font-face {
  font-family: "cyrille-selection";
  src:url("../fonts/cyrilleselecticons/icomoon.eot");
  src:url("../fonts/cyrilleselecticons/icomoon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/cyrilleselecticons/icomoon.ttf") format("truetype"),
    url("../fonts/cyrilleselecticons/icomoon.svg#minicons-webalys") format("svg"),
    url("../fonts/cyrilleselecticons/icomoon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}



.bt-icon:before,
.bt-icon-alt:before {
  font-family: "cyrille-selection";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
}

.bt-icon-alt:before {
  font-family: "cyrille-selection";
}

.icon-info:before {
  content: "\e600";
}

.icon-texte:before {
  content: "\e612";
}

.icon-lien:before {
  content: "\e6a7";
}

.icon-film:before {
  content: "\e6a8";
}

.icon-galerie:before {
  content: "\e6a9";
}

.icon-ecoliers:before {
  content: "\e6b5";
}

.icon-ecole-livre:before {
  content: "\e6b6";
}

.icon-bus-cote:before {
  content: "\e6b7";
}

.icon-bus-face:before {
  content: "\e6b8";
}

.icon-prof-tableau:before {
  content: "\e6b9";
}

.icon-ecole1:before {
  content: "\e6ba";
}

.icon-prof-eleve:before {
  content: "\e6bb";
}

.icon-ecole-activite:before {
  content: "\e6bc";
}

.icon-ecole2:before {
  content: "\e6bd";
}

.icon-fleche-droite:before {
  content: "\e696";
}


.icon-carte:before {
  content: "\e6be";
}
